# Environment files
.env
*.env
production*.env

# Server secrets
server/config/config.json
server/uploads/
client/node_modules/
client/package-lock.json
client/package.json
server/node_modules/
server/package-lock.json
server/package.json
# Docker config (server specific)
docker-compose.yml

# Uploads and assets
client/src/wp-content/uploads/
client/out/
*.pdf
*.zip
*.mp4
