# Environment files
.env
*.env
production*.env

# Server secrets
server/config/config.json

# Docker config (server specific)
docker-compose.yml

# Uploads and assets
client/src/wp-content/uploads/
client/out/
*.pdf
*.zip
*.mp4
