# Environment files
.env
*.env
production*.env

# Server secrets
server/config/config.json
server/uploads/
client/package.json
server/node_modules/
docker-compose.yml

# Uploads and assets
client/src/wp-content/uploads/
client/out/
*.pdf
*.zip
*.mp4
